// Responsive variables
$mobile: 540px;
$tablet: 1024px;
$desktop: 1280px;

// Color palette

// Black and white
$white: #f5f5f5;
$black: #252525;

// Grey for input
$grey: #e5e5e5;

// Purples
$purple-900: #45006b;
$purple-800: #550084;
$purple-600: #6c0ba2;
$purple-500: #784c9e;
$purple-300: #9813e1;
$purple-200: #830ac6;
$purple-100: #ba3eff;

// Pinks
$pink-800: #8c0076;
$pink-600: #ac0391;
$pink-550: #d70091;
$pink-500: #cd00ad;
$pink-400: #e408c1;
$pink-300: #ff33df;
$pink-200: #fbe3f7;

// Blues
$blue-800: #000e88;
$blue-600: #1524a7;
$blue-400: #203fe2;
$blue-500: #2315ca;
$blue-300: #4a7dff;
$blue-200: #8cd7f8;

// Yellows
$yellow-800: #c67700;
$yellow-600: #ebc301;
$yellow-400: #fde400;
$yellow-500: #ffd300;
$yellow-300: #fff433;

// Font-size
$bigTitle: 48px;
$title: 40px;
$subtitle: 32px;
$bigText: 24px;
$text: 16px;

// Label
$label: 18px;
$placeholder: 14px;
$small_label: 12px;
$x_small_label: 10px;
