@import '../../styles/sass/main.scss';



.container {
  width: 731px;
  margin-left: 96px;
  overflow: hidden;
  overflow-y: scroll;
  height: 90vh;
  padding: 24px;

  h1 {
    font-size: $title;
  }

  p {
    font-size: $text;
  }
}

aside::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

aside::-webkit-scrollbar-thumb {
  background-color: #B6B6B6;
  /* color of the scroll thumb */
  border-radius: 16px;
  /* roundness of the scroll thumb */
  border: none;
  /* creates padding around scroll thumb */
}