@import '../../styles/sass/main.scss';

.container {
  display: flex;
  background-color: $white;

  .innerContainer {
    max-height: 100vh;
    margin: auto;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      display: none;
    }

    .teacherInfo {
      display: block;
    }

    .info {
      display: flex;
      justify-content: space-around;
    }
  }

  .containerTitle {
    .title {
      display: flex;
    }

    img {
      margin-top: 30px;
      margin-right: 16px;
      width: 41px;
      height: 41px;
    }

    h1 {
      font-size: $title;
      margin-bottom: 0px;
    }

    p {
      color: #898989;
      font-weight: bold;
      margin-bottom: 28px;
      margin-left: 60px;
    }

    span {
      color: $blue-600;
    }

    .category {
      width: 136px;
      height: 36px;
      background-color: $purple-100;
      color: $white;
      font-weight: bold;
      border-radius: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 60px;
      margin-bottom: 150px;
    }
  }
}