@import '../../styles/sass/main.scss';
.divError{
    display: flex;
    align-items: center;
    flex-direction: column;
    p{
        font-size: $subtitle;
        font-weight: bold;
    }
    .btn{
        background-color: $pink-400;
        color: $white;
        height: 60px;
        width: 337px;
        margin-bottom: 88px;
        border: none;
    }
}